<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <meta name="description" content="{{site.description}}"/>
    <meta name="author" content="{{site.author}}"/>
    <link rel="author" href="humans.txt"/>
    <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{site.baseurl}}/feed.xml"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <style>
        body {
            padding-top: 70px;
        }
    </style>
</head>
<body>
<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#menu" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{{site.baseurl}}/" class="navbar-brand">{{ site.name }}</a></h1>
            </div>
            <div class="collapse navbar-collapse" id="menu">
                <ul class="nav navbar-nav">
                    <li><a href="{{site.baseurl}}/">Inicio</a></li>
                    <li><a href="{{site.baseurl}}/events">Eventos</a></li>
                    <li><a href="{{site.baseurl}}/contact">Contacto</a></li>
                    <li><a href="{{site.baseurl}}/archive">Archivo</a></li>
                    <li><a href="{{site.baseurl}}/feed.xml">RSS</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main class="container">
    {{ content }}
</main>
<footer>
    <hr/>
    <p>&copy;
        <time>2016</time>
        {{ site.author }}
    </p>
</footer>
<script src="{{site.baseurl}}/scripts.js"></script>
</body>
</html>
